body { 
  margin:0;
  padding:0;
  background: url(../img/font1.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisï¿½e */
}

#Popup {
	width: 350px;
	background-color:#000;
    border-radius:10px;
	margin:10px;
    padding:10px;
	color:#FFF;
    display:none;
}

#validation_hide {
    display: none;
}

#contain{
	color:#FFF;
	width: 350px;
}

#Conteneur{
	width: 350px;
	max-height:350px;
	overflow:auto;
}

#connection{
    width:10%;
	padding: 0;
	margin:10px 0 0 10px;
	position:absolute;
	left: 5%;
	top: 5%;
}

#footer{
	background-color:#000;
	color:#FFFFFF;
	height:25px;
	text-align:center;
	position:fixed;
	bottom:0;
	z-index: 999999;
	width:100%;
	clear: both;
 }
 
 #header{
	background-color:#000;
	color:#FFFFFF;
	height:25px;
	text-align:center;
	position:fixed;
	top:0;
	z-index: 999999;
	width:100%;
 }
 
.popup_title{

	position:relative;
	background:#191919;
	color: #FFF;
	text-align: center;
	border-radius: 5px 5px 5px 5px;

}

.b-close{
	position:absolute;
	left:95%;
	top:-10px; 

}

.menu {
    position:relative;
	background:#000000;
	color: #FFF;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
	padding:0 0 10px 0;
	width:240px;
	text-decoration: none;
	margin: 0 auto 10px auto;
	text-align:center;
}

 ul.menu_gauche {
    list-style:none;
	width:240px;
	padding:0;
	margin:0;
	text-align:center;	 
}

.menu_titre,.menu_titre_droite {
    position:relative;
	background:#191919;
	color: #FFF;
    border-radius:8px 8px 0px 0px ;
	padding:7px 0;
	width:240px;
	text-decoration: none;
	margin:0 auto;
    text-align:center;
}

.selected{
font-style : italic;
font-weight: bold;
text-decoration: underline;
}
 
 
 .messagebox {
position:absolute;
width:80%;
margin-left:30px;
border:1px solid #c93;
background:#ffc;
padding:5px 10px;
color : #000;
}

.dispo {
position:absolute;
width:80%;
margin-left:30px;
border:1px solid #349534;
background:#C9FFCA;
padding:5px 10px;
color:#008000;
}

.busy {
position:absolute;
width:80%;
margin-left:30px;
border:1px solid #CC0000;
background:#F7CBCA;
padding:5px 10px;
color:#CC0000;
}

.hover{
  cursor:  pointer;
}

ul#menu_horizontal li {
	display: inline-block;
	list-style-type: none;
	margin: 0 5% 0 5%; 
}
ul#menu_horizontal {
	margin-top : 0%;
	padding-top: 0%;
	margin: 0 auto;
	white-space:nowrap;
}

ul#menu_bas li {
	display : inline-block;
	margin: 0 5% 0 5%;
}
ul#menu_bas {
	margin-top: 0%;
	padding-top: 2px;
	list-style-type : none;
	white-space:nowrap; 
}

.PL_Ajout {
	color: #00e000;
	font-weight: bold;
}

.PL_MAJ {
	color: #ff8000;
	font-weight: bold;
}

.PL_Removed{
	color: #ff0000;
	font-weight: bold;
}

.PL_Patch{
	color:#0040ff;
	font-weight: bold;
}